@charset "utf-8";
/* CSS Document */

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	background: #eaf4f4;
}
.logo a {
	color: #222;
	letter-spacing: 1px;
	font-weight: 400;
	text-decoration: none;
}
.search-box, .close-icon {
	position: relative;
	padding: 8px;
}
.search-wrapper {
	position: relative;
}
.search-wrapper {
	margin: auto;
}
.search-box {
	width: calc(100% - 42px);
	border: 1px solid #ccc;
	height: 38px;
	outline: 0;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid transparent;
}
.search-box:focus {
	border: 1px solid #ddd;
}
.close-icon {
	border: 1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
	position: absolute;
    right: -23px;
    top: 17px;
}
.close-icon:after {
	content: "X";
	display: block;
	position: absolute;
	z-index: 1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: #1e1e1e;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
.search-wrapper button:focus {
	outline: 1px dotted;
	outline: none;
}
.search-wrapper .input-group-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.375rem 0.75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-right: 1px solid transparent;
}
.input-group-text i.fas {
	font-weight:400 !important;
}
.ptb-10 {
	padding:10px 0;
}
.rounded-15 {
	border-radius:15px !important;
}
.search-result .input-group-text {
	background:#fff;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	border-right:1px solid transparent !important;
}
.search-result .form-control.rounded-15 {
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
	border-left:1px solid transparent !important;
}
.search-result .form-control:focus {
box-shadow: none !important;
}
span.badge-green {
    background: #428500;
    color: #fff;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 14px;
    letter-spacing: 2px;
}
.service-detail {
	border:1px solid #000;
	text-align:center;
	padding:30px 10px;
	text-align:center;
	margin-bottom:10px;
	text-transform:uppercase;
}
.service-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.service-row {
	cursor:pointer;
	border:1px solid transparent;
}
.service-row:hover {
	cursor:pointer;
	border:1px solid #f6ab3f;
}
.service-row:hover .service-content {
    border-left: 1px solid #f6ab3f;
    border-right: 1px solid #f6ab3f;
}
.btn-light-gray {
	background:#dbdbdb;
	color:#777;
}

@media (max-width: 768px) { 
.service-row:hover .service-content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.service-content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
}